@using Lacuna.RestPki.SampleSite.Models
@model SignatureInfoModel

<h2>CAdES Signature</h2>

<p>File signed successfully! <a href="/Download/File/@Model.File">Click here to download the signed file</a></p>

<p>
	Signer information:
	<ul>
		<li>Subject: @Model.SignerCertificate.SubjectName.CommonName</li>
		<li>Email: @Model.SignerCertificate.EmailAddress</li>
		<li>
			ICP-Brasil fields
			<ul>
				<li>Tipo de certificado: @Model.SignerCertificate.PkiBrazil.CertificateType</li>
				<li>CPF: @Model.SignerCertificate.PkiBrazil.Cpf</li>
				<li>Responsavel: @Model.SignerCertificate.PkiBrazil.Responsavel</li>
				<li>Empresa: @Model.SignerCertificate.PkiBrazil.CompanyName</li>
				<li>CNPJ: @Model.SignerCertificate.PkiBrazil.Cnpj</li>
			</ul>
		</li>
	</ul>
</p>

<p><a href="/CadesSignature?cmsfile=@Model.File">Click here</a> to co-sign with another certificate</p>
