@model Lacuna.RestPki.Client.PadesSignature

<h2>Open existing PAdES Signature</h2>

<h3>The given file contains @Model.Signers.Count signatures:</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	@for (var i = 0; i < Model.Signers.Count; i++) {

		var signer = Model.Signers[i];
		var collapseId = string.Format("signer_{0}_collapse", i);
		var headingId = string.Format("signer_{0}_heading", i);

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="@headingId">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
						@signer.Signature.SigningCertificate.SubjectName.CommonName
						@if (signer.Signature.ValidationResults != null) {
							<text>- </text>
							if (signer.Signature.ValidationResults.IsValid) {
								<span style="color: green; font-weight: bold;">valid</span>
							} else {
								<span style="color: red; font-weight: bold;">invalid</span>
							}
						}
					</a>
				</h4>
			</div>
			<div id="@collapseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headingId">
				<div class="panel-body">
					<p>Signing time: @signer.SigningTime</p>
					<p>Message digest: @signer.Signature.MessageDigest.Algorithm.Name @BitConverter.ToString(signer.Signature.MessageDigest.Value) </p>
					@if (signer.Signature.SignaturePolicy != null) {
						<p>Signature policy: @signer.Signature.SignaturePolicy.Oid</p>
					}
					<p>
						Signer information:
						<ul>
							<li>Subject: @signer.Signature.SigningCertificate.SubjectName.CommonName</li>
							<li>Email: @signer.Signature.SigningCertificate.EmailAddress</li>
							<li>
								ICP-Brasil fields
								<ul>
									<li>Tipo de certificado: @signer.Signature.SigningCertificate.PkiBrazil.CertificateType</li>
									<li>CPF: @signer.Signature.SigningCertificate.PkiBrazil.Cpf</li>
									<li>Responsavel: @signer.Signature.SigningCertificate.PkiBrazil.Responsavel</li>
									<li>Empresa: @signer.Signature.SigningCertificate.PkiBrazil.CompanyName</li>
									<li>CNPJ: @signer.Signature.SigningCertificate.PkiBrazil.Cnpj</li>
								</ul>
							</li>
						</ul>
					</p>
					@if (signer.Signature.ValidationResults != null) {
						<p>
								Validation results:<br/>
								<textarea style="width: 100%" rows="20">@signer.Signature.ValidationResults.ToString()</textarea>
						</p>
					}
				</div>
			</div>
		</div>
	}
</div>