extends layout

block content
	h2 Authentication Success

	p
	| User certificate information:
	ul
		li Subject: #{certificate.subjectName.commonName}
		li Email: #{certificate.emailAddress}
		li ICP-Brasil fields
			ul
				li Tipo de certificado: #{certificate.pkiBrazil.certificateType}
				li CPF: #{certificate.pkiBrazil.cpf}
				li Responsavel: #{certificate.pkiBrazil.responsavel}
				li Empresa: #{certificate.pkiBrazil.companyName}
				li CNPJ: #{certificate.pkiBrazil.cnpj}
				li RG: #{certificate.pkiBrazil.rgNumero} #{certificate.pkiBrazil.rgEmissor} #{certificate.pkiBrazil.rgEmissorUF}
				li OAB: #{certificate.pkiBrazil.oabNumero} #{certificate.pkiBrazil.oabUF}