extends layout

block content
	p
	- if (validationResults.isValid()) {
		h2 Authentication Success
		
		p
		| User certificate information:
		ul
			li Subject: #{certificate.subjectName.commonName}
			li Email: #{certificate.emailAddress}
			li ICP-Brasil fields
				ul
					li Tipo de certificado: #{certificate.pkiBrazil.certificateType}
					li CPF: #{certificate.pkiBrazil.cpf}
					li Responsavel: #{certificate.pkiBrazil.responsavel}
					li Empresa: #{certificate.pkiBrazil.companyName}
					li CNPJ: #{certificate.pkiBrazil.cnpj}
					li RG: #{certificate.pkiBrazil.rgNumero} #{certificate.pkiBrazil.rgEmissor} #{certificate.pkiBrazil.rgEmissorUF}
					li OAB: #{certificate.pkiBrazil.oabNumero} #{certificate.pkiBrazil.oabUF}

	- } else {
		h2 Authentication Failed

		p Validation Results:

		p
			textarea(id="text" rows="30" cols="120") #{validationResults.toString()}
	- }