extends layout

block content

	h2 CAdES Signature
	
	p File signed successfully!
	
	p
		| Signer information:
		ul
			li Subject: #{signerCert.subjectName.commonName}
			li Email: #{signerCert.emailAddress}
			li ICP-Brasil fields
				ul
					li Tipo de certificado: #{signerCert.pkiBrazil.certificateType}
					li CPF: #{signerCert.pkiBrazil.cpf}
					li Responsavel: #{signerCert.pkiBrazil.responsavel}
					li Empresa: #{signerCert.pkiBrazil.companyName}
					li CNPJ: #{signerCert.pkiBrazil.cnpj}
					li RG: #{signerCert.pkiBrazil.rgNumero} #{signerCert.pkiBrazil.rgEmissor} #{signerCert.pkiBrazil.rgEmissorUF}
					li OAB: #{signerCert.pkiBrazil.oabNumero} #{signerCert.pkiBrazil.oabUF}

	h3 Actions:
	ul
		li
			a(href='app-data/' + signedFile, target='_blank') Download the signed file
		li
			a(href='open-cades-signature?userfile=' + signedFile) Open/validate the signed file
		li
			a(href='cades-signature?cmsfile=' + signedFile) Co-sign with another certificate
