@model Lacuna.RestPki.SampleSite.Models.CheckModel

<h2>Check signatures on printer-friendly PDF</h2>

<h3>The given file contains @Model.Signature.Signers.Count signatures:</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

	@for (var i = 0; i < Model.Signature.Signers.Count; i++) {

		var signer = Model.Signature.Signers[i];
		var collapseId = string.Format("signer_{0}_collapse", i);
		var headingId = string.Format("signer_{0}_heading", i);

		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="@headingId">
				<h4 class="panel-title">
					<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapseId" aria-expanded="true" aria-controls="@collapseId">
						@signer.Certificate.SubjectName.CommonName
						@if (signer.ValidationResults != null) {
							<text>- </text>
							if (signer.ValidationResults.IsValid) {
								<span style="color: green; font-weight: bold;">valid</span>
							} else {
								<span style="color: red; font-weight: bold;">invalid</span>
							}
						}
					</a>
				</h4>
			</div>
			<div id="@collapseId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@headingId">
				<div class="panel-body">
                    <p>Signing time: @TimeZoneInfo.ConvertTime(signer.SigningTime.Value, Lacuna.RestPki.SampleSite.Controllers.PrinterFriendlyVersionController.TimeZone).ToString(Lacuna.RestPki.SampleSite.Controllers.PrinterFriendlyVersionController.DateFormat, Lacuna.RestPki.SampleSite.Controllers.PrinterFriendlyVersionController.CultureInfo) (@Lacuna.RestPki.SampleSite.Controllers.PrinterFriendlyVersionController.TimeZoneDisplayName)</p>
					<p>Message digest: @signer.MessageDigest.Algorithm.Name @BitConverter.ToString(signer.MessageDigest.Value) </p>
					@if (signer.SignaturePolicy != null) {
						<p>Signature policy: @signer.SignaturePolicy.Oid</p>
					}
					<p>
						Signer information:
						<ul>
							<li>Subject: @signer.Certificate.SubjectName.CommonName</li>
							<li>Email: @signer.Certificate.EmailAddress</li>
							<li>
								ICP-Brasil fields
								<ul>
									<li>Tipo de certificado: @signer.Certificate.PkiBrazil.CertificateType</li>
									<li>CPF: @signer.Certificate.PkiBrazil.Cpf</li>
									<li>Responsavel: @signer.Certificate.PkiBrazil.Responsavel</li>
									<li>Empresa: @signer.Certificate.PkiBrazil.CompanyName</li>
									<li>CNPJ: @signer.Certificate.PkiBrazil.Cnpj</li>
									<li>RG: @signer.Certificate.PkiBrazil.RGNumero @signer.Certificate.PkiBrazil.RGEmissor @signer.Certificate.PkiBrazil.RGEmissorUF</li>
									<li>OAB: @signer.Certificate.PkiBrazil.OabNumero @signer.Certificate.PkiBrazil.OabUF</li>
								</ul>
							</li>
						</ul>
					</p>
					@if (signer.ValidationResults != null) {
						<p>
								Validation results:<br/>
								<textarea style="width: 100%" rows="20">@signer.ValidationResults.ToString()</textarea>
						</p>
					}
				</div>
			</div>
		</div>
	}
</div>

<h3>Actions:</h3>
<ul>
    <li><a href="Download/File/@Model.File">Download signed file</a></li>
    <li><a href="PrinterFriendlyVersion/File/@Model.File">Download printer-friendly version</a></li>
</ul>